# Ignore virtual environments
venv/
sense_env/
.env/

# Ignore OS and IDE-specific files
__pycache__/
*.pyc
.DS_Store

# Ignore large files or datasets
*.log
*.zip
*.tar
*.gz
*.db

# Ignore cache or temp folders
*.egg-info/
.cache/
build/
dist/
